<%- include('partials/head') %>
<%- include('partials/nav') %>

<section class="about-hero">
  <div class="page-hero__bg-grid"></div>
  <div class="container">
    <div class="hero__mono">TECHO TRADERS / ABOUT US</div>
    <h1 class="display-heading" style="color: var(--white); max-width: 750px;">LEGACY,<br>VISION &amp;<br>PURPOSE.</h1>
  </div>
</section>

<!-- OUR STORY -->
<section class="section">
  <div class="container">
    <div class="story-grid">
      <div class="story-aside">
        <div class="label">Our Story</div>
        <div class="story-aside__quote">"Craftsmanship meets Commerce."</div>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="200" height="200" viewBox="0 0 1500 1500" enable-background="new 0 0 1500 1500" xml:space="preserve">
   <!-- <svg width="32" height="32" viewBox="0 0 36 36" fill="none"></svg> -->
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M752.468506,1501.000000 
	C750.318970,1500.666626 748.639343,1500.052368 746.956665,1500.044067 
	C731.816895,1499.968872 716.676514,1500.000000 700.757690,1500.000000 
	C701.477356,1496.569214 701.764771,1493.501465 702.857666,1490.754272 
	C703.352905,1489.509521 705.343140,1488.431641 706.836975,1488.102173 
	C709.856262,1487.436157 713.050903,1487.579590 716.081787,1486.949097 
	C723.963684,1485.310059 726.779419,1482.440674 727.897034,1474.658813 
	C728.551697,1470.100830 728.885193,1465.466919 728.961426,1460.860474 
	C729.377075,1435.762695 729.716980,1410.663330 729.980103,1385.563477 
	C730.105042,1373.642212 730.001526,1361.718628 730.001526,1349.232544 
	C724.717773,1349.232544 718.642334,1349.135742 712.572266,1349.274292 
	C709.625488,1349.341431 706.638428,1349.605957 703.756653,1350.201904 
	C694.583191,1352.098999 690.837097,1356.386963 689.021973,1366.654297 
	C688.822937,1367.780151 688.737732,1368.932251 688.461304,1370.037476 
	C685.795959,1380.695190 685.787476,1380.693115 674.221436,1379.656494 
	C674.846252,1373.732910 675.452148,1367.802612 676.102417,1361.877075 
	C676.710632,1356.334473 677.770447,1350.807861 677.915466,1345.255371 
	C678.211182,1333.931519 679.264221,1333.011353 690.149109,1335.030273 
	C695.614441,1336.044067 701.196655,1336.769897 706.745850,1336.927368 
	C725.340942,1337.455200 744.012573,1336.822021 762.521545,1338.301758 
	C774.704285,1339.275879 786.503479,1337.766968 798.475342,1337.066040 
	C804.395630,1336.719360 804.757874,1337.606812 805.043030,1343.670166 
	C805.636780,1356.294556 806.475647,1368.907349 807.227600,1381.762451 
	C803.750549,1382.221802 799.870483,1382.734375 795.446350,1383.318848 
	C794.274597,1377.983643 792.978638,1372.991333 792.103333,1367.926392 
	C789.541565,1353.102173 782.033142,1352.540527 771.704590,1351.038452 
	C766.205994,1350.238770 760.650513,1349.830566 754.107300,1349.138428 
	C753.419434,1354.514526 752.363892,1360.040039 752.062073,1365.606323 
	C750.907104,1386.907593 749.983093,1408.221558 748.997192,1429.531738 
	C748.630066,1437.466431 748.352173,1445.405396 747.992371,1453.340454 
	C747.692932,1459.945435 747.110840,1466.545776 747.055054,1473.151489 
	C746.981445,1481.869873 749.734131,1486.685913 755.824951,1487.739380 
	C760.035583,1488.467529 764.460999,1487.923096 768.789246,1488.008057 
	C776.468994,1488.158691 776.234619,1486.558228 774.665833,1495.654663 
	C774.394775,1497.226074 773.738770,1498.731079 773.130249,1500.633301 
	C766.312378,1501.000000 759.624695,1501.000000 752.468506,1501.000000 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M793.562500,1.000003 
	C794.999695,7.769072 796.043091,14.532089 796.983215,21.309412 
	C797.568970,25.531950 797.709106,29.835669 798.564819,33.996929 
	C799.919983,40.586567 798.958069,42.010719 792.243469,41.999294 
	C791.087158,41.997326 789.930786,41.999012 788.602722,41.999012 
	C787.097351,36.728813 785.309143,31.677818 784.256226,26.477928 
	C782.921570,19.886889 778.577820,16.394632 772.631592,15.428182 
	C765.378113,14.249262 757.945557,14.172173 750.238159,13.592022 
	C749.796692,22.513803 749.157959,30.565628 749.052307,38.624439 
	C748.864502,52.947388 748.999695,67.274567 748.999634,81.599976 
	C748.999573,95.967697 748.993958,110.335411 749.001282,124.703133 
	C749.006042,134.179047 753.235840,137.882935 762.800110,137.166885 
	C766.743591,136.871643 770.727600,137.117981 775.049500,137.117981 
	C774.289490,141.185455 773.605408,144.846375 772.784790,149.238159 
	C751.398315,149.238159 730.026367,149.238159 708.498657,149.238159 
	C708.644348,147.684433 708.689697,145.630951 709.059326,143.637589 
	C709.573730,140.863403 710.711365,139.154175 714.195862,138.832413 
	C718.463684,138.438293 722.989990,137.499268 726.727783,135.518677 
	C731.924744,132.764969 731.862854,126.767212 731.856445,121.890182 
	C731.822205,95.799332 731.428528,69.707207 730.942383,43.619572 
	C730.761047,33.890533 729.992859,24.172428 729.441711,13.467587 
	C720.210266,14.847552 710.975769,15.838087 701.933716,17.742596 
	C697.349609,18.708132 694.962952,22.870174 694.063049,27.441692 
	C693.086182,32.404400 692.353333,37.415161 691.394226,43.117428 
	C688.035828,43.472374 684.370117,43.859798 680.286194,44.291420 
	C680.552185,39.473755 680.712158,35.284523 681.029541,31.107246 
	C681.640259,23.066948 682.491272,15.041574 682.925720,6.992905 
	C683.090881,3.933458 684.204651,2.754847 687.146362,2.995747 
	C695.513062,3.680905 703.881653,4.877557 712.250793,4.888574 
	C730.678284,4.912833 749.111633,4.493512 767.531616,3.910220 
	C773.904419,3.708418 780.244873,2.485950 786.800049,1.364847 
	C789.041687,1.000000 791.083313,1.000000 793.562500,1.000003 
z"/>
<path fill="#0b4ed4" opacity="1.000000" stroke="none" 
	d="
M586.000000,542.000000 
	C586.000122,526.336731 585.900574,511.171967 586.129944,496.012146 
	C586.157715,494.179169 587.489319,491.569824 589.012756,490.673767 
	C616.219604,474.670807 643.539368,458.859558 670.855896,443.043488 
	C696.759033,428.045685 722.669189,413.059662 748.657349,398.210205 
	C749.885437,397.508453 752.242981,397.586945 753.499390,398.306427 
	C784.016602,415.782745 814.467468,433.375122 844.904602,450.990967 
	C867.692322,464.179565 890.391968,477.521790 913.276184,490.540222 
	C916.235779,492.223846 915.994934,494.268280 915.995300,496.694550 
	C916.001770,536.685608 916.000000,576.676636 916.000000,616.667664 
	C916.000000,637.496338 915.889404,658.326111 916.106689,679.152527 
	C916.143616,682.698547 914.766479,684.433594 911.991638,686.034119 
	C882.094788,703.279419 852.260193,720.632874 822.364990,737.881104 
	C799.698059,750.958862 776.967468,763.926331 754.268372,776.948547 
	C753.149414,777.590515 752.061279,778.286316 751.097961,778.872437 
	C736.658447,770.531494 722.357788,762.278259 708.064453,754.012329 
	C691.783691,744.597046 675.515137,735.160828 659.230957,725.751587 
	C643.226257,716.503723 627.221313,707.256226 611.191040,698.052795 
	C603.959351,693.900940 596.691833,689.809692 589.387390,685.787476 
	C586.591797,684.248108 585.915710,682.099915 585.923401,678.968628 
	C586.035217,633.479248 586.000000,587.989624 586.000000,542.000000 
M661.307922,530.931702 
	C657.653564,532.220093 656.891174,534.812866 656.908936,538.557312 
	C657.065186,571.550720 657.033142,604.545166 656.945679,637.539124 
	C656.937256,640.717407 657.236938,642.845886 660.669434,644.480103 
	C666.552124,647.280945 672.005676,650.978699 677.660706,654.263184 
	C700.857910,667.736084 724.022461,681.266785 747.342957,694.522827 
	C749.203369,695.580261 752.569580,695.533569 754.535522,694.570251 
	C760.392273,691.700500 765.889587,688.100464 771.545227,684.816528 
	C794.887695,671.262756 818.183411,657.626465 841.652649,644.295654 
	C844.510193,642.672546 845.057251,641.043701 845.050110,638.178772 
	C844.971313,606.517944 844.738647,574.853027 845.201355,543.198792 
	C845.305298,536.086609 843.891479,531.211792 837.086548,528.604187 
	C836.630920,528.429626 836.194946,528.192871 835.770691,527.948730 
	C807.434570,511.642548 779.100647,495.332581 750.904663,479.102478 
	C749.630249,479.871918 748.520996,480.562042 747.392822,481.219635 
	C732.835938,489.704620 718.302124,498.229584 703.710083,506.653595 
	C689.827820,514.667847 675.883972,522.575378 661.307922,530.931702 
z"/>
<path fill="#d44e0b" opacity="1.000000" stroke="none" 
	d="
M775.049805,818.165527 
	C799.244873,804.136597 823.440002,790.107788 847.635071,776.078918 
	C874.658264,760.410217 901.679626,744.738281 928.707520,729.077454 
	C931.113037,727.683655 933.428528,725.915649 936.029846,725.148071 
	C938.097229,724.537964 940.981445,724.406860 942.745239,725.403809 
	C965.670959,738.361267 988.484436,751.518311 1011.278870,764.706787 
	C1033.643921,777.646667 1055.941406,790.703552 1078.297363,803.659180 
	C1085.797363,808.005432 1093.331299,812.300476 1100.963623,816.406982 
	C1103.731812,817.896362 1105.075073,819.572144 1105.069702,822.927246 
	C1104.972900,883.914001 1104.982788,944.901062 1105.055176,1005.887939 
	C1105.058228,1008.520935 1104.268799,1009.777161 1101.894165,1011.134094 
	C1078.316040,1024.607544 1054.857422,1038.290405 1031.369263,1051.921387 
	C1006.757874,1066.203979 982.158081,1080.506714 957.536682,1094.771973 
	C952.157166,1097.888794 946.765991,1100.998169 941.239929,1103.838257 
	C940.166321,1104.390137 938.186768,1104.124634 937.055725,1103.480347 
	C911.754395,1089.068970 886.476013,1074.616577 861.271362,1060.036865 
	C834.940308,1044.805664 808.691040,1029.432861 782.406738,1014.120911 
	C780.156189,1012.809875 777.910706,1011.490173 775.344788,1009.546387 
	C775.034424,945.334045 775.042114,881.749756 775.049805,818.165527 
M962.327271,1009.921448 
	C965.104858,1008.192261 967.835144,1006.381042 970.667603,1004.746948 
	C990.790466,993.137756 1010.966492,981.619751 1031.005005,969.867004 
	C1032.485474,968.998657 1033.865479,966.526428 1033.874268,964.792725 
	C1034.042114,930.964417 1034.034058,897.134766 1033.885010,863.306274 
	C1033.878296,861.764954 1032.589111,859.608582 1031.253662,858.794495 
	C1022.595886,853.516785 1013.759277,848.532349 1004.981628,843.451416 
	C983.609497,831.080322 962.246582,818.692993 940.832764,806.394409 
	C939.952393,805.888855 938.340515,805.760010 937.498169,806.227783 
	C931.066833,809.799194 924.747192,813.571289 918.383240,817.264587 
	C895.179993,830.730103 871.998962,844.234314 848.731689,857.588318 
	C846.110840,859.092590 844.935547,860.699341 844.943848,863.782593 
	C845.034241,897.611633 844.966980,931.440979 845.109314,965.269653 
	C845.115784,966.809509 846.317749,969.002014 847.623535,969.775696 
	C859.022400,976.529419 870.596924,982.985657 882.071167,989.613586 
	C900.339844,1000.166260 918.544922,1010.829712 936.874268,1021.275391 
	C938.197937,1022.029724 940.647949,1022.022034 942.004150,1021.299194 
	C948.642456,1017.760437 955.087463,1013.859131 962.327271,1009.921448 
z"/>
<path fill="#0aad6f" opacity="1.000000" stroke="none" 
	d="
M726.950684,1009.834412 
	C717.241455,1015.568176 707.560059,1021.349915 697.817505,1027.026489 
	C672.661194,1041.684204 647.511414,1056.353760 622.294373,1070.906494 
	C603.171997,1081.941772 583.966858,1092.834351 564.728821,1103.666626 
	C563.627686,1104.286621 561.585144,1104.335938 560.504761,1103.724609 
	C546.125488,1095.589355 531.829590,1087.306152 517.533936,1079.023560 
	C503.804779,1071.069214 490.111328,1063.053223 476.381744,1055.099609 
	C459.969879,1045.592163 443.534302,1036.125488 427.112823,1026.634644 
	C418.189484,1021.477234 409.389099,1016.089111 400.288849,1011.266235 
	C397.347870,1009.707520 396.949493,1007.947754 396.953247,1005.109009 
	C397.018860,955.455444 397.000610,905.801880 397.000580,856.148254 
	C397.000580,845.317749 397.145111,834.484314 396.919891,823.658508 
	C396.844238,820.022095 398.089752,818.027222 401.244568,816.230042 
	C419.571869,805.789124 437.741730,795.072388 456.015747,784.537231 
	C472.167938,775.225342 488.417938,766.083069 504.567139,756.766052 
	C520.717102,747.448486 536.796875,738.009155 552.904419,728.618103 
	C555.448364,727.134949 557.874451,725.386353 560.558716,724.235718 
	C561.770203,723.716370 563.751770,723.887268 564.925476,724.553101 
	C580.715515,733.510620 596.429871,742.601501 612.152222,751.678101 
	C626.313171,759.853210 640.465942,768.042542 654.613098,776.241333 
	C678.522339,790.097412 702.424438,803.965820 726.651245,818.455322 
	C726.965576,882.665894 726.958130,946.250122 726.950684,1009.834412 
M651.675720,856.926941 
	C622.696106,840.057800 593.725891,823.172363 564.693359,806.394836 
	C563.777649,805.865662 561.978149,806.021973 560.996094,806.576599 
	C542.484924,817.032410 524.002991,827.541138 505.583862,838.158386 
	C493.820068,844.939453 482.130890,851.853088 470.520844,858.892822 
	C469.292480,859.637634 468.111389,861.631348 468.105804,863.050415 
	C467.971924,897.044495 467.964691,931.039368 468.115326,965.033325 
	C468.122559,966.665344 469.367401,968.993225 470.741333,969.809082 
	C483.962646,977.660767 497.335907,985.256531 510.665009,992.926758 
	C526.963867,1002.305908 543.230469,1011.742310 559.614563,1020.970337 
	C561.079895,1021.795593 563.703064,1022.011963 565.111816,1021.253784 
	C573.747681,1016.606323 582.202148,1011.619812 590.691711,1006.702576 
	C611.784302,994.485229 632.810913,982.152100 654.011902,970.126221 
	C656.766663,968.563599 657.037231,966.868896 657.033325,964.278442 
	C656.982788,931.117065 656.928528,897.955322 657.095337,864.794739 
	C657.114929,860.886475 655.909424,858.492004 651.675720,856.926941 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1388.668457,714.703979 
	C1408.001831,702.693604 1428.051758,701.700684 1448.294067,710.234985 
	C1468.790405,718.876526 1481.122314,735.040833 1485.639648,756.585327 
	C1489.618652,775.562622 1484.919434,792.848816 1473.191162,808.421814 
	C1462.701050,822.350769 1448.460938,830.158325 1431.839478,832.689880 
	C1414.883789,835.272278 1398.732544,831.294861 1384.616577,821.044617 
	C1371.010254,811.164368 1362.566040,797.658447 1359.302734,781.327087 
	C1355.576660,762.679321 1359.783447,745.333252 1371.429199,730.389648 
	C1376.062744,724.443787 1382.659790,720.028015 1388.668457,714.703979 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M15.357489,767.274048 
	C15.900134,753.710754 20.121965,741.905151 27.919590,731.297119 
	C37.954834,717.644958 51.142525,708.980713 67.875626,706.011841 
	C91.688461,701.786804 111.999039,708.834595 127.935417,726.684143 
	C140.886719,741.190247 146.088593,758.461426 143.169098,778.170593 
	C139.991455,799.622498 128.674194,815.469116 110.250038,825.723328 
	C88.464401,837.848450 59.180695,835.669312 39.207909,818.757812 
	C27.554552,808.890503 19.691841,796.842651 16.932236,781.725220 
	C16.084251,777.079834 15.711052,772.347778 15.357489,767.274048 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1124.714844,1243.353271 
	C1131.624878,1254.494263 1138.160278,1265.435059 1145.074097,1276.131348 
	C1156.074951,1293.150391 1167.474854,1309.912109 1178.423828,1326.963989 
	C1185.940674,1338.670532 1194.125854,1334.500488 1199.978638,1325.937866 
	C1200.800293,1324.735718 1201.094482,1323.145264 1202.002075,1322.036987 
	C1202.974243,1320.849854 1204.761230,1318.982788 1205.519897,1319.259033 
	C1206.935913,1319.775146 1208.944214,1321.742676 1208.819580,1322.903687 
	C1208.072144,1329.869019 1207.679199,1337.074463 1205.486572,1343.637939 
	C1201.642578,1355.144653 1185.097778,1358.711182 1176.000366,1350.369385 
	C1172.592163,1347.244385 1171.510498,1347.399658 1169.804443,1351.894409 
	C1166.793335,1359.826904 1163.169067,1367.561279 1159.309448,1375.127686 
	C1155.290283,1383.006836 1147.276245,1385.923096 1139.593994,1387.765259 
	C1122.602905,1391.839478 1107.600464,1387.469604 1094.684692,1375.314087 
	C1082.849731,1364.176025 1075.245605,1350.697388 1073.286011,1334.849121 
	C1070.994507,1316.316406 1074.227783,1298.359863 1087.568359,1284.289307 
	C1095.078491,1276.368286 1104.430176,1270.193359 1113.558105,1262.736938 
	C1105.659546,1251.510986 1097.313599,1238.808105 1088.049072,1226.814941 
	C1082.954468,1220.219849 1079.253418,1220.738403 1072.896851,1226.581421 
	C1072.434814,1227.006104 1071.914917,1227.367798 1071.310669,1227.847168 
	C1069.897583,1225.654785 1068.366089,1223.704346 1067.362183,1221.512329 
	C1066.957764,1220.629517 1067.303955,1218.829834 1067.996704,1218.105347 
	C1075.661743,1210.088257 1083.458496,1202.197021 1091.231689,1194.283325 
	C1092.031250,1193.469360 1092.908325,1192.731689 1094.509399,1191.260376 
	C1096.144043,1194.052612 1097.586304,1196.457886 1098.973145,1198.894653 
	C1106.252930,1211.684326 1113.504150,1224.490112 1120.803955,1237.268311 
	C1121.937012,1239.251709 1123.269775,1241.121094 1124.714844,1243.353271 
M1118.822754,1364.926025 
	C1119.602661,1365.154541 1120.401245,1365.333252 1121.159546,1365.619141 
	C1131.250488,1369.420898 1141.178833,1369.839111 1150.082642,1362.897583 
	C1157.363647,1357.221313 1160.351685,1348.738770 1162.931763,1340.250610 
	C1163.344849,1338.891846 1162.965576,1336.839722 1162.163696,1335.631836 
	C1150.591919,1318.201904 1138.950806,1300.816406 1127.088257,1283.584106 
	C1126.122925,1282.181763 1123.086182,1280.922241 1121.586304,1281.399780 
	C1116.022217,1283.171265 1110.465088,1285.263306 1105.328857,1288.023193 
	C1090.466919,1296.009521 1083.871094,1310.308350 1088.071411,1326.368408 
	C1092.502441,1343.311279 1102.726440,1356.082764 1118.822754,1364.926025 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M387.385468,1406.734619 
	C375.896179,1397.369141 363.914978,1389.495483 349.612091,1383.942627 
	C352.171387,1380.749146 354.350800,1378.029663 356.652527,1375.157593 
	C358.900421,1375.747925 361.198761,1376.521851 363.560120,1376.939575 
	C370.319794,1378.134888 374.605591,1373.902466 378.063538,1369.273682 
	C388.737762,1354.985229 399.316193,1340.607300 409.343384,1325.863770 
	C412.517731,1321.196167 414.535126,1315.746338 413.301208,1309.255249 
	C411.601715,1300.315063 405.595215,1295.621582 398.174500,1293.406982 
	C390.588287,1291.142944 382.370331,1290.886475 374.392883,1290.133057 
	C372.773682,1289.980347 370.334381,1291.056152 369.388214,1292.369141 
	C358.105804,1308.026489 346.879059,1323.730103 336.013031,1339.677246 
	C333.166504,1343.854858 328.877991,1348.644531 333.195496,1354.163574 
	C334.994385,1356.463257 338.100922,1357.860962 340.811310,1359.293091 
	C343.606323,1360.770020 343.613403,1362.236816 341.395325,1364.074341 
	C339.001404,1366.057373 336.531677,1367.948975 334.176239,1369.816162 
	C321.079010,1360.644165 308.009796,1351.491821 295.075684,1342.434082 
	C297.779175,1339.880127 300.285492,1337.512573 303.085205,1334.867798 
	C313.793884,1338.856812 314.680420,1338.453369 322.660400,1326.883911 
	C345.042084,1294.434448 367.490814,1262.031250 389.894928,1229.597168 
	C392.683746,1225.559692 395.458038,1221.506226 398.070160,1217.353882 
	C401.599609,1211.743530 400.657410,1207.179321 395.115753,1203.600464 
	C391.454742,1201.236084 390.830231,1198.950806 394.409637,1196.047607 
	C395.436157,1195.214966 396.337341,1194.227905 397.119080,1193.480713 
	C409.097229,1198.713745 420.870422,1203.857178 432.959869,1209.138794 
	C414.709076,1232.518433 396.659668,1255.640137 377.643127,1280.000732 
	C383.293518,1280.000732 387.403442,1279.599121 391.405975,1280.084106 
	C399.822540,1281.103516 408.668884,1281.270630 416.468109,1284.147827 
	C434.514771,1290.805298 443.679169,1311.753296 432.036255,1329.161011 
	C424.309052,1340.714233 414.920319,1351.151001 406.371613,1362.162231 
	C401.251434,1368.757324 396.006042,1375.289673 391.391449,1382.232178 
	C387.281036,1388.416260 387.536377,1394.098755 394.930756,1397.058716 
	C396.814545,1397.812866 398.380768,1399.360229 400.089600,1400.540894 
	C393.995422,1409.142334 392.410675,1409.933350 387.385468,1406.734619 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M59.249378,993.011230 
	C68.276215,992.011414 68.276161,992.011414 72.534477,1000.057739 
	C78.283943,1010.921387 82.354309,1012.431580 97.200638,1007.282654 
	C117.238098,1000.333374 137.092651,992.852966 156.986115,985.493530 
	C173.958969,979.214478 190.875931,972.784363 209.128983,965.928589 
	C204.237427,956.544250 199.742920,947.174072 194.543686,938.212769 
	C191.141953,932.349609 184.889481,932.534424 179.017532,933.133667 
	C175.786011,933.463501 172.432739,933.910400 169.452133,935.100342 
	C164.178085,937.206238 162.068680,934.674805 160.608215,930.231873 
	C160.051971,928.539612 159.065842,926.988708 158.071014,924.955139 
	C164.926346,923.049255 171.616470,921.175903 178.314438,919.331055 
	C184.918198,917.512207 191.673447,916.116943 198.088608,913.783508 
	C202.483826,912.184875 204.026138,914.337341 204.719406,917.560608 
	C211.452866,948.866821 225.130219,977.757996 235.998093,1007.618530 
	C238.218796,1013.720154 241.712067,1019.360229 244.639709,1025.202515 
	C246.343918,1028.603394 245.777710,1030.466431 241.866089,1032.208252 
	C230.487610,1037.274902 219.380295,1042.950317 208.162735,1048.378906 
	C207.586548,1048.657715 206.974258,1048.861938 205.799377,1049.333496 
	C203.917740,1045.680664 202.082733,1042.118286 200.182495,1038.429321 
	C205.502716,1034.938110 210.851318,1031.515625 216.107117,1027.956055 
	C221.986679,1023.974060 224.477341,1017.617493 222.772369,1010.639893 
	C220.955795,1003.205566 218.907104,995.827942 216.701202,987.442688 
	C211.489120,988.921753 206.494278,990.122620 201.642792,991.750610 
	C168.690887,1002.808777 135.754700,1013.914490 102.858963,1025.138306 
	C99.345474,1026.337158 95.984634,1028.165894 92.803558,1030.112183 
	C88.437439,1032.783203 86.907387,1037.230225 88.605255,1042.095703 
	C90.533691,1047.621948 92.783806,1053.035889 95.207222,1059.309326 
	C91.178352,1059.883911 87.389534,1060.584717 83.570961,1060.838989 
	C82.769241,1060.892456 81.443314,1059.461792 81.058769,1058.449097 
	C73.179565,1037.702881 65.379158,1016.926514 57.692963,996.108154 
	C57.403690,995.324585 58.418316,994.059570 59.249378,993.011230 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1127.491577,259.796967 
	C1126.031738,258.948669 1124.407959,258.171631 1122.737793,258.053741 
	C1116.479370,257.611877 1110.207031,257.160858 1103.937622,257.125916 
	C1091.627686,257.057343 1085.192505,248.559113 1080.403076,239.414612 
	C1071.579834,222.568756 1075.367554,206.140610 1085.555176,191.161530 
	C1093.841309,178.978043 1105.325684,170.408615 1119.762207,166.753174 
	C1138.749146,161.945496 1156.221069,165.275131 1171.524658,178.015457 
	C1173.417725,179.591492 1175.395752,181.065781 1177.772705,182.931198 
	C1178.989624,181.335785 1180.293091,179.753067 1181.460205,178.075485 
	C1186.974487,170.148972 1192.618042,162.305206 1197.893799,154.221909 
	C1202.934692,146.498642 1205.887207,141.920700 1193.858032,135.487579 
	C1195.770020,133.202042 1197.592896,131.023148 1199.269531,129.019119 
	C1210.012573,133.709808 1220.322876,138.211533 1231.232178,142.974869 
	C1230.713501,144.197357 1230.397949,145.808945 1229.490234,146.948959 
	C1217.325317,162.226166 1204.638306,177.109238 1192.958740,192.745956 
	C1177.295288,213.716309 1162.371582,235.240189 1147.176880,256.559570 
	C1139.432739,267.425354 1145.878296,273.748657 1156.427124,274.967865 
	C1158.051636,275.155609 1159.716431,274.994080 1161.697754,274.994080 
	C1161.829102,276.887909 1161.939575,278.479736 1162.133179,281.270874 
	C1155.655029,282.515747 1149.229126,284.517700 1142.721313,284.834198 
	C1130.840088,285.412109 1123.147949,274.599091 1126.497559,263.003082 
	C1126.770020,262.059814 1127.036987,261.114990 1127.491577,259.796967 
M1157.504028,213.028946 
	C1159.837402,209.674622 1162.015015,206.197266 1164.543823,202.997528 
	C1167.618774,199.107010 1167.705078,195.760788 1163.878418,192.299713 
	C1160.495239,189.239746 1157.713257,185.428268 1154.072754,182.757141 
	C1145.484253,176.455688 1136.152344,173.969009 1125.495239,177.789841 
	C1108.258911,183.969437 1094.346313,207.664749 1096.050171,224.927261 
	C1097.082275,235.381134 1101.832764,244.733917 1113.207275,247.476654 
	C1118.890503,248.847076 1124.973633,248.705597 1130.886108,248.865173 
	C1132.195190,248.900497 1133.989014,247.625000 1134.811646,246.435684 
	C1142.329834,235.565918 1149.682739,224.581787 1157.504028,213.028946 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M354.288269,227.660690 
	C360.358429,236.428192 366.204926,244.903214 372.089508,253.351730 
	C375.957520,258.905029 379.944153,259.394684 385.380768,255.150116 
	C386.902313,253.962189 388.582733,252.977722 390.817932,251.479080 
	C392.445770,255.212479 393.910126,258.570923 395.264709,261.677582 
	C383.104034,270.000488 371.415710,278.000092 359.355560,286.254181 
	C357.812042,283.372314 356.365997,280.672485 354.961884,278.050903 
	C362.187500,269.378174 362.951630,268.369049 354.919861,257.279327 
	C344.755066,243.244385 335.108429,228.834198 325.235077,214.588074 
	C313.318298,197.393524 301.424744,180.182678 289.439026,163.036316 
	C288.216492,161.287430 286.440735,159.922577 284.905884,158.395386 
	C282.528717,156.030106 280.121002,155.652985 276.993713,157.401657 
	C270.443512,161.064362 270.358643,160.912598 267.453461,154.591522 
	C275.531250,146.253906 283.426117,138.105087 291.920563,129.337372 
	C292.629089,130.246948 294.085754,131.763428 295.138062,133.521912 
	C307.624939,154.388412 320.051483,175.291031 332.930573,196.917450 
	C337.059113,187.945007 340.522186,180.228180 344.146423,172.587814 
	C349.370392,161.575043 359.204071,156.926712 370.365051,156.278687 
	C379.893707,155.725449 387.795227,160.882645 392.939117,169.037201 
	C402.442200,184.102264 411.581055,199.396912 420.900024,214.578506 
	C421.837280,216.105377 422.867798,217.599472 424.029816,218.959412 
	C427.914429,223.505753 430.995819,223.672531 436.567627,219.768784 
	C441.714233,216.162949 442.220367,216.299484 444.599030,222.194901 
	C445.139191,223.533661 445.466583,224.958282 445.751617,225.886566 
	C434.059296,234.645569 422.539642,243.275269 410.814484,252.058899 
	C408.174561,248.518967 405.649933,244.927246 409.560120,239.039978 
	C411.401520,236.267532 411.018250,230.210358 409.173889,227.110855 
	C401.323242,213.917419 392.701721,201.168839 384.014679,188.495667 
	C381.552673,184.904007 378.333069,181.496323 374.737549,179.081192 
	C364.790222,172.399567 356.514069,177.330292 349.471924,186.376938 
	C345.923615,190.935287 343.706116,196.565811 341.136566,201.833328 
	C339.991272,204.181107 339.944824,206.424301 341.869385,209.003021 
	C346.258118,214.883469 350.047760,221.211029 354.288269,227.660690 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M457.986969,1419.914062 
	C455.620361,1410.238403 457.118988,1401.146606 459.437531,1392.213745 
	C462.443542,1380.632324 467.975006,1370.118530 476.178711,1361.500610 
	C497.199463,1339.418457 527.690430,1334.453979 552.728882,1352.708374 
	C568.066956,1363.890503 573.192566,1380.526978 570.267639,1399.617554 
	C568.417053,1411.696411 564.406494,1422.708008 557.149719,1432.483765 
	C543.852600,1450.396729 526.278198,1460.741577 503.687012,1458.772705 
	C480.885651,1456.785522 463.253601,1444.505615 457.986969,1419.914062 
M483.412354,1431.879517 
	C488.905914,1440.697266 496.385254,1446.427979 507.121063,1446.993530 
	C520.793030,1447.713989 529.435913,1440.014282 536.212585,1429.376953 
	C542.266907,1419.873535 545.723083,1409.428345 547.382385,1398.300781 
	C549.008606,1387.395508 547.935242,1376.992920 541.823303,1367.607788 
	C533.518250,1354.854858 515.395569,1350.294556 502.254211,1360.088623 
	C493.708435,1366.457642 488.660431,1374.950195 484.835358,1384.509399 
	C478.689423,1399.868774 476.001465,1415.346924 483.412354,1431.879517 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1051.862183,1420.029053 
	C1054.222778,1417.775513 1056.104248,1415.485352 1058.261597,1413.494141 
	C1059.267578,1412.565796 1061.197876,1411.401001 1062.017090,1411.792236 
	C1063.314819,1412.411987 1065.072510,1414.489868 1064.831055,1415.533203 
	C1062.636475,1425.017578 1059.977417,1434.525757 1051.626831,1440.633789 
	C1044.486328,1445.856689 1031.802979,1442.879517 1026.714111,1435.361084 
	C1025.706177,1433.871826 1024.589966,1432.454834 1023.490295,1431.030151 
	C1023.300842,1430.784668 1022.943176,1430.669067 1022.942444,1430.668579 
	C1019.644348,1436.373901 1016.179199,1441.989380 1013.082825,1447.801270 
	C1006.128906,1460.854126 994.160767,1463.127319 981.944214,1459.692505 
	C968.933533,1456.034424 960.295532,1444.843750 959.992249,1431.003784 
	C959.821899,1423.225586 964.229614,1418.216309 970.043701,1413.986572 
	C981.678894,1405.521851 993.310791,1397.052246 1004.883179,1388.502319 
	C1005.618042,1387.959473 1006.421082,1386.524170 1006.197815,1385.818726 
	C1003.344421,1376.802002 1000.803467,1367.562866 992.289612,1361.803589 
	C984.775208,1356.720215 977.165161,1357.529663 969.786133,1361.817871 
	C961.076660,1366.879517 954.572754,1374.228882 949.177673,1383.916992 
	C946.151489,1379.994995 943.535095,1376.604126 940.191589,1372.270996 
	C949.686218,1362.797363 958.086975,1351.974243 968.766418,1344.337646 
	C984.353943,1333.191650 1008.574829,1334.737915 1016.865845,1357.233887 
	C1023.556641,1375.388062 1028.302124,1394.254883 1034.113281,1412.741821 
	C1035.010010,1415.594727 1036.460205,1418.688477 1038.594116,1420.647217 
	C1042.511353,1424.243164 1046.457275,1423.740234 1051.862183,1420.029053 
M1005.415100,1400.904541 
	C997.473938,1406.908936 989.301270,1412.642578 981.749207,1419.102051 
	C979.784058,1420.782715 978.764587,1424.813965 979.007324,1427.618774 
	C980.131958,1440.616821 995.447510,1445.276123 1004.269043,1437.881226 
	C1009.368835,1433.606323 1013.030457,1427.594116 1017.195740,1422.251831 
	C1017.749817,1421.541260 1017.800354,1420.058838 1017.499634,1419.121338 
	C1015.232117,1412.051758 1012.818237,1405.029053 1010.185120,1397.204102 
	C1008.454834,1398.549194 1007.230103,1399.501343 1005.415100,1400.904541 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M166.366638,1107.271240 
	C160.861404,1113.310913 154.911972,1118.655762 150.629074,1125.107056 
	C143.206848,1136.287231 143.641785,1148.573364 151.198044,1159.258545 
	C156.698196,1167.036255 164.556442,1173.132202 171.216919,1180.117432 
	C172.378830,1181.336060 173.845230,1184.191895 173.403931,1184.673950 
	C171.601532,1186.642944 171.478027,1191.424194 166.726028,1189.353516 
	C147.533951,1180.991333 130.676224,1170.535156 126.257172,1147.685547 
	C123.473663,1133.292847 126.364433,1120.232544 134.970505,1108.682251 
	C146.487961,1093.224731 162.134506,1084.674805 181.287430,1081.875488 
	C197.696945,1079.477173 212.816086,1082.472900 225.998047,1092.172119 
	C237.965820,1100.978027 245.582352,1112.943115 245.972565,1128.433838 
	C246.245651,1139.274780 240.485458,1147.208130 232.571854,1153.608643 
	C228.809265,1156.651733 224.239197,1158.763306 219.872131,1160.975464 
	C214.481003,1163.706177 211.294281,1162.647583 208.211899,1157.534058 
	C197.165894,1139.209229 186.131851,1120.877197 174.802917,1102.065796 
	C172.031738,1103.772949 169.352127,1105.423584 166.366638,1107.271240 
M196.493713,1116.027466 
	C197.981613,1118.170776 199.466309,1120.316406 200.958084,1122.457031 
	C204.036804,1126.875000 207.009445,1131.372803 210.239914,1135.677002 
	C212.307922,1138.432373 214.696899,1138.758545 217.931152,1136.731689 
	C233.358429,1127.063721 229.866302,1111.934692 219.103149,1102.150879 
	C208.943771,1092.916138 196.784531,1093.501587 183.988312,1097.379150 
	C188.079025,1103.550781 192.036392,1109.521240 196.493713,1116.027466 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1263.362915,1197.139160 
	C1248.483032,1212.816895 1233.881348,1228.242676 1218.850952,1244.121216 
	C1226.264282,1252.821289 1235.650146,1258.947754 1246.741333,1261.877686 
	C1264.275879,1266.510132 1278.109863,1258.749512 1287.980469,1241.872803 
	C1290.445923,1237.657471 1293.004028,1233.342285 1294.469727,1228.738770 
	C1295.972656,1224.018188 1297.835327,1222.734009 1302.066528,1225.514893 
	C1302.837769,1226.021851 1303.866577,1226.136841 1305.986816,1226.826416 
	C1303.614624,1235.681641 1301.339844,1244.473267 1298.900024,1253.218628 
	C1293.943970,1270.982788 1270.761841,1284.017334 1256.058472,1284.187256 
	C1229.693604,1284.491577 1212.683960,1270.656616 1200.202148,1249.404297 
	C1193.539673,1238.060547 1191.128174,1225.542236 1191.999756,1212.406982 
	C1193.271240,1193.246216 1206.965088,1173.263306 1225.845947,1168.670898 
	C1236.889526,1165.984497 1246.616943,1169.262207 1255.031250,1176.588135 
	C1258.040405,1179.207886 1260.802368,1182.129517 1263.528442,1185.052124 
	C1266.982300,1188.755005 1266.949951,1193.091309 1263.362915,1197.139160 
M1215.730103,1191.063354 
	C1198.949707,1203.725586 1202.032104,1224.982300 1212.322754,1235.983643 
	C1222.158691,1224.545288 1232.128662,1213.237061 1241.628296,1201.546631 
	C1242.836914,1200.059204 1242.634155,1195.448853 1241.297607,1194.203125 
	C1234.682739,1188.037231 1226.420410,1183.040527 1215.730103,1191.063354 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M23.318607,539.266113 
	C29.014633,523.928040 34.776909,509.000824 39.865032,493.847229 
	C44.007156,481.511047 47.466282,468.938385 50.961201,456.396179 
	C52.048920,452.492706 54.587700,452.497375 57.373695,453.242035 
	C68.857056,456.311554 80.291092,459.565613 91.744194,462.752075 
	C88.605240,474.264984 88.605232,474.265015 76.845428,471.409729 
	C67.644066,469.175629 61.576954,471.871338 57.317295,480.327698 
	C54.379219,486.160400 51.670204,492.108490 48.514034,498.728180 
	C59.363716,503.241333 69.806267,507.794403 80.404510,511.950500 
	C103.192772,520.886902 126.034241,529.690063 148.925995,538.357422 
	C152.335815,539.648499 156.162796,540.614075 159.750397,540.480896 
	C165.406525,540.270874 167.210922,535.318604 168.907150,530.887573 
	C170.276321,527.310974 171.235779,523.577454 172.571487,519.289185 
	C176.424240,521.470703 179.637024,523.289856 182.712372,525.031250 
	C175.426437,545.423645 168.255966,565.492859 160.928116,586.002563 
	C158.224457,584.453003 155.174927,582.705139 152.031845,580.903687 
	C153.031219,576.810303 154.154343,573.085815 154.814285,569.281006 
	C155.603394,564.731384 154.543243,560.387512 150.251816,558.168274 
	C144.046341,554.959106 137.644424,552.014587 131.081284,549.632141 
	C101.653099,538.949951 72.138191,528.506592 41.796970,517.670837 
	C39.821247,524.590820 37.652683,531.201294 36.066734,537.948730 
	C32.893463,551.449341 37.316483,553.053345 48.088448,559.937561 
	C54.981865,564.343079 55.156250,564.045532 53.106972,571.836060 
	C52.859455,572.777039 52.852901,573.781311 52.697624,575.061768 
	C44.329895,571.149719 36.204098,567.338684 28.066753,563.552429 
	C24.803297,562.033997 21.611338,560.272034 18.209562,559.166138 
	C14.873634,558.081726 14.732067,556.338013 16.064896,553.687683 
	C18.425402,548.993713 20.752415,544.282898 23.318607,539.266113 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1434.012695,1032.030273 
	C1431.717285,1047.339600 1424.871704,1059.969849 1414.871948,1070.976807 
	C1414.201782,1071.714355 1412.040405,1071.921753 1411.056396,1071.422485 
	C1401.144043,1066.392212 1391.332642,1061.162842 1381.396606,1055.938721 
	C1382.067749,1052.972656 1382.706299,1050.150146 1383.442505,1046.896118 
	C1386.790527,1047.966553 1389.928833,1049.213379 1393.181152,1049.969238 
	C1410.220093,1053.929321 1422.964966,1043.581055 1422.999878,1025.869995 
	C1423.002563,1024.536865 1423.111206,1023.192749 1422.979736,1021.872742 
	C1422.537598,1017.432495 1422.018433,1013.162720 1417.323242,1010.667908 
	C1412.439941,1008.073120 1407.718872,1008.186523 1403.397583,1011.197937 
	C1391.593384,1019.423767 1380.093506,1028.086792 1368.269775,1036.283447 
	C1348.549927,1049.954346 1327.319580,1038.691040 1322.178955,1018.170105 
	C1317.479370,999.409424 1323.615967,982.555359 1334.379395,967.155701 
	C1335.876343,965.013977 1337.635132,963.055298 1339.276611,961.007019 
	C1348.175903,966.370239 1356.846558,971.514709 1365.388062,976.865601 
	C1366.264771,977.414978 1366.916870,979.299561 1366.715942,980.387695 
	C1366.309326,982.589722 1365.245972,984.670288 1364.432617,986.856934 
	C1361.079346,985.565125 1357.788330,984.157227 1354.405273,983.024353 
	C1348.088257,980.909119 1342.638550,982.482117 1338.731079,987.866577 
	C1334.204834,994.103638 1331.461792,1000.976379 1331.960815,1008.951599 
	C1332.523438,1017.946045 1340.000854,1023.697083 1348.285400,1019.987122 
	C1355.776855,1016.632385 1362.572510,1011.623169 1369.428955,1006.979858 
	C1376.469971,1002.211487 1382.923706,996.535034 1390.141113,992.075989 
	C1410.272339,979.638489 1427.744141,992.571655 1432.732910,1011.264526 
	C1434.449097,1017.695190 1433.664307,1024.793335 1434.012695,1032.030273 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M472.709198,104.791389 
	C479.590393,97.549904 486.830719,91.897827 496.328979,88.709549 
	C514.776855,82.517128 532.168579,89.614723 543.018555,102.730194 
	C553.019714,114.819557 558.354248,129.142212 557.890686,144.923264 
	C557.168213,169.524719 543.218689,189.567123 517.416199,195.761627 
	C503.152710,199.185913 484.868958,191.544998 475.790710,179.681137 
	C467.037079,168.241486 461.797180,155.609177 461.133942,141.402130 
	C460.513245,128.106445 464.394989,115.829529 472.709198,104.791389 
M488.465149,163.935867 
	C493.352539,168.509949 497.808441,173.693008 503.220032,177.527313 
	C513.492554,184.805771 526.926086,182.513474 535.112244,174.491165 
	C543.747925,166.028290 543.839355,155.699356 541.487854,145.263504 
	C539.106812,134.696640 534.563110,124.976295 527.321411,116.512932 
	C519.445923,107.308914 510.611237,101.264206 497.813721,102.945213 
	C485.724091,104.533234 477.418793,114.084404 476.893890,126.249702 
	C476.298950,140.039124 481.236420,151.898865 488.465149,163.935867 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M957.759399,182.260010 
	C945.908508,172.476639 946.143188,152.067764 957.499634,143.221756 
	C960.281738,141.054672 964.245911,139.159775 967.616760,139.239746 
	C975.951782,139.437454 984.251404,140.915649 992.577698,141.756134 
	C999.246094,142.429260 1005.932739,142.921432 1013.977234,143.610992 
	C1015.584961,137.158768 1017.986023,130.389633 1018.846130,123.430092 
	C1020.310059,111.584160 1009.489624,104.810616 999.079285,104.172310 
	C993.261902,103.815605 987.340881,105.205940 981.461670,105.756714 
	C980.177856,105.876984 978.873108,105.774307 976.760193,105.774307 
	C977.195679,102.720093 977.380493,99.824661 978.110168,97.073769 
	C978.412170,95.935287 979.841858,94.307274 980.825745,94.258606 
	C992.444092,93.684059 1004.282471,91.817535 1015.655273,93.338829 
	C1033.455688,95.719902 1045.663940,114.043999 1037.144531,132.379211 
	C1032.317505,142.767624 1027.008179,152.931274 1021.966858,163.221024 
	C1019.375244,168.510681 1016.607422,173.740570 1014.434998,179.202606 
	C1011.568298,186.410431 1015.965942,192.377472 1024.356934,192.929932 
	C1026.424072,193.066040 1028.542480,192.202576 1030.638550,192.196930 
	C1031.972900,192.193344 1034.188110,192.627533 1034.445312,193.391617 
	C1034.864990,194.638382 1034.528931,197.004364 1033.607178,197.700531 
	C1026.529053,203.046677 1018.771912,206.956436 1009.549927,205.913086 
	C1003.611145,205.241165 997.300293,197.566605 997.024231,191.165237 
	C996.896912,188.211914 997.002563,185.248520 997.002563,182.338196 
	C990.795776,184.220428 984.441589,186.062149 978.143433,188.078751 
	C970.175964,190.629883 963.630859,188.324188 957.759399,182.260010 
M972.175354,151.292145 
	C967.257263,156.354935 966.439392,162.655548 969.939941,168.758636 
	C974.147095,176.093445 981.588135,177.059296 990.882996,175.470901 
	C994.053345,174.929123 998.313721,173.891068 999.782349,171.605759 
	C1003.583862,165.690094 1006.108459,158.953873 1009.139526,152.552368 
	C1000.175842,151.661667 991.864258,150.660263 983.523193,150.089798 
	C979.983643,149.847717 976.382324,150.509521 972.175354,151.292145 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M233.621506,1260.169556 
	C236.352951,1270.045166 243.161774,1276.028564 251.074753,1280.951538 
	C254.543045,1283.109253 258.212311,1285.203491 262.077332,1286.397949 
	C266.918488,1287.894165 267.719452,1290.098633 264.993164,1294.100464 
	C264.266663,1295.166992 263.720398,1296.356323 262.626312,1298.326782 
	C253.370270,1295.350464 243.809845,1293.087402 234.944244,1289.228149 
	C222.807541,1283.944946 216.810089,1272.802368 213.239227,1260.914673 
	C207.969437,1243.371094 213.182205,1227.831421 224.535324,1213.885620 
	C233.924698,1202.352051 245.538940,1194.299561 259.730560,1189.990845 
	C283.596619,1182.744873 308.515778,1190.077148 323.382599,1210.884766 
	C327.268982,1216.324219 330.647400,1222.124634 334.331818,1227.711426 
	C335.964966,1230.187866 335.769501,1231.798462 333.068878,1233.578003 
	C324.336151,1239.332886 315.827789,1245.427856 307.106781,1251.201294 
	C306.284943,1251.745361 304.305206,1251.345337 303.331665,1250.688721 
	C301.279785,1249.304932 299.538605,1247.460083 296.176025,1244.480957 
	C299.124451,1242.241333 301.701385,1240.677856 303.796631,1238.623169 
	C312.239502,1230.343506 312.279633,1219.274292 304.078033,1210.584106 
	C294.109192,1200.021484 280.708618,1197.747437 267.326019,1205.011597 
	C255.079956,1211.658691 245.405243,1221.332397 238.064789,1233.111938 
	C232.991119,1241.253906 231.539154,1250.336670 233.621506,1260.169556 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1216.031006,312.252380 
	C1210.202515,328.028381 1215.947388,342.127594 1230.885620,351.898651 
	C1235.926880,355.196075 1241.464600,357.734344 1246.774902,360.620789 
	C1245.499268,367.803253 1244.361328,368.711670 1237.589722,366.948761 
	C1228.087646,364.475037 1218.649780,361.795410 1210.799438,355.401489 
	C1201.274780,347.643829 1196.399902,337.365509 1195.058472,325.452271 
	C1192.239746,300.415466 1212.887207,278.915924 1232.617432,271.695892 
	C1248.216675,265.987579 1263.789429,265.306671 1278.519409,273.407623 
	C1291.046265,280.296997 1299.534302,290.745697 1299.961426,305.958466 
	C1300.144531,312.489532 1297.218872,318.161011 1293.277954,322.976685 
	C1289.963013,327.027496 1285.772583,330.431091 1281.660767,333.736877 
	C1278.829712,336.013062 1275.456787,336.010864 1272.775757,333.209229 
	C1260.051392,319.912872 1247.393677,306.552765 1234.745605,293.183685 
	C1233.982178,292.376709 1233.508789,291.295074 1232.782104,290.155579 
	C1225.251221,296.051239 1219.911499,303.367279 1216.031006,312.252380 
M1267.582275,311.064362 
	C1269.858154,311.979187 1272.464233,314.098175 1274.347412,313.581635 
	C1279.850830,312.072021 1284.021606,301.658691 1282.362549,295.778534 
	C1277.572021,278.800323 1253.809570,273.081207 1240.013794,284.903351 
	C1249.048462,293.478882 1258.047729,302.020782 1267.582275,311.064362 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M178.296646,406.295959 
	C173.002121,415.126953 167.919998,423.651398 162.762985,432.301453 
	C171.644623,437.931793 180.766785,441.634338 191.027206,441.994385 
	C205.859619,442.514862 215.916946,433.598358 220.851349,420.750122 
	C223.457443,413.964325 224.880707,406.724243 226.900635,399.464172 
	C234.120041,398.196808 235.173370,398.911194 234.949478,406.533295 
	C234.731705,413.947174 235.134537,421.594910 233.440445,428.705261 
	C229.837982,443.825500 219.770950,454.046844 205.176666,458.902222 
	C186.881638,464.988831 170.503738,459.808777 155.787125,448.263519 
	C143.578506,438.685822 136.081482,426.204315 133.425629,410.900879 
	C130.357208,393.219940 138.012833,372.686035 154.811279,364.578705 
	C165.380432,359.477753 174.863388,362.636536 184.155426,367.760773 
	C186.855286,369.249603 189.292847,371.266663 191.692078,373.234863 
	C194.744110,375.738617 194.756363,378.567047 192.691559,381.933411 
	C187.825424,389.867035 183.219955,397.960571 178.296646,406.295959 
M163.487976,411.013214 
	C166.986053,404.360229 170.612137,397.769135 173.882095,391.005829 
	C174.598282,389.524536 174.775635,386.938477 173.946106,385.705719 
	C170.952530,381.256927 158.630661,379.137451 154.369980,382.301208 
	C138.600555,394.010925 140.456985,416.033508 155.613495,425.965790 
	C158.110031,421.177490 160.594742,416.411896 163.487976,411.013214 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M901.027100,1369.000000 
	C902.787720,1369.000122 904.088379,1369.000122 905.620239,1369.000122 
	C906.405945,1381.671265 907.168579,1393.969727 907.951111,1406.588745 
	C904.922546,1407.431274 901.994751,1408.245728 898.381226,1409.250977 
	C897.470581,1405.863159 896.742981,1402.606323 895.715637,1399.446899 
	C893.453003,1392.488525 889.469849,1390.975098 883.469238,1395.326904 
	C877.156250,1399.905396 871.994934,1405.880859 869.560303,1413.294800 
	C868.421814,1416.761719 869.538513,1421.082886 870.057312,1424.960205 
	C871.946960,1439.080811 873.915466,1453.192505 876.053345,1467.277466 
	C877.393921,1476.110352 882.528503,1478.961426 891.954102,1476.574341 
	C894.735474,1475.870117 897.563049,1475.348022 900.749512,1474.660400 
	C900.749512,1479.336304 900.749512,1483.282227 900.749512,1487.297241 
	C883.762085,1490.313232 866.771606,1493.329712 849.133484,1496.461182 
	C848.801697,1494.253174 848.162292,1491.600464 848.116943,1488.937622 
	C848.097778,1487.809937 849.054077,1486.056641 850.031128,1485.615601 
	C859.528015,1481.328125 858.801514,1477.054932 857.605103,1467.531738 
	C855.915161,1454.080688 853.340881,1440.735474 850.958191,1427.378296 
	C849.527771,1419.359253 848.049622,1411.324585 846.025085,1403.442749 
	C844.217590,1396.406494 841.320618,1394.419312 834.497559,1396.219727 
	C829.321167,1397.585693 828.743164,1395.648071 828.946777,1391.533447 
	C829.008423,1390.286865 828.480835,1389.011353 828.174805,1387.511963 
	C838.518250,1383.316895 848.911499,1379.057861 859.342712,1374.894043 
	C863.138000,1373.379150 863.827209,1375.896606 863.991638,1378.819702 
	C864.343628,1385.080688 864.648071,1391.344116 865.023560,1397.603638 
	C865.078430,1398.518066 865.416077,1399.415649 865.914551,1401.598267 
	C867.631287,1398.437866 868.847656,1396.304932 869.965820,1394.121704 
	C874.497681,1385.273315 880.984985,1378.020630 889.154053,1372.573975 
	C892.337524,1370.451538 896.726990,1370.137695 901.027100,1369.000000 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1379.288818,1141.822266 
	C1379.341064,1143.133057 1379.426880,1144.360596 1378.901245,1145.209595 
	C1370.470215,1158.829712 1361.964722,1172.403564 1353.452759,1185.973511 
	C1353.206787,1186.365845 1352.704956,1186.597534 1352.159424,1187.034790 
	C1350.330811,1185.736450 1348.179565,1184.692627 1346.744995,1183.030151 
	C1345.689697,1181.807251 1344.837646,1179.614502 1345.161865,1178.130615 
	C1346.723022,1170.987427 1346.078125,1167.694946 1340.003174,1163.646240 
	C1326.134399,1154.403198 1312.074829,1145.442017 1297.981323,1136.543091 
	C1291.794922,1132.636841 1285.505005,1128.815430 1278.938232,1125.621216 
	C1275.003662,1123.707275 1271.254639,1125.058472 1268.921021,1129.257690 
	C1265.625366,1135.187988 1265.570435,1135.146729 1260.032104,1130.581421 
	C1259.424438,1130.080566 1258.697388,1129.724365 1257.885010,1129.212402 
	C1261.624512,1118.500977 1265.316284,1107.890381 1269.037109,1097.290039 
	C1270.083984,1094.307983 1271.702759,1094.535889 1273.878418,1096.321899 
	C1278.566895,1100.170898 1283.354980,1103.900391 1288.149780,1107.617432 
	C1289.409912,1108.594238 1290.843750,1109.346802 1293.207764,1110.840576 
	C1291.395630,1105.136475 1289.136841,1100.666748 1288.683838,1096.020874 
	C1287.878296,1087.760376 1287.498047,1079.327148 1288.307861,1071.100952 
	C1288.658936,1067.535889 1292.270264,1064.201172 1294.727783,1061.014160 
	C1295.195190,1060.408081 1297.610229,1060.459961 1298.430908,1061.100098 
	C1306.967896,1067.758911 1315.388794,1074.567993 1323.748535,1081.448975 
	C1324.451294,1082.027466 1325.031494,1083.662109 1324.717896,1084.404663 
	C1323.594116,1087.066040 1322.061401,1089.554810 1320.729736,1092.022949 
	C1316.691650,1089.940796 1313.220215,1087.784302 1309.475952,1086.331177 
	C1306.216187,1085.065918 1303.592163,1085.972046 1301.986450,1089.739990 
	C1297.837158,1099.477295 1301.043335,1108.495483 1305.008911,1117.044189 
	C1306.368164,1119.974365 1310.937500,1121.414062 1314.037842,1123.538208 
	C1325.772461,1131.577637 1337.296509,1139.950806 1349.316528,1147.538086 
	C1356.901001,1152.325439 1360.166748,1151.057007 1365.148193,1143.500366 
	C1367.195435,1140.394653 1369.109253,1137.200928 1371.484619,1133.407227 
	C1374.290283,1136.436768 1376.664062,1139.000000 1379.288818,1141.822266 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1415.724609,497.231812 
	C1426.677490,505.443451 1431.852783,516.722595 1434.954346,529.198364 
	C1435.582886,531.726318 1435.129395,534.650024 1436.188110,536.918213 
	C1438.519775,541.913452 1435.407471,543.055176 1431.843750,543.905396 
	C1424.872437,545.568481 1417.874878,547.144165 1410.834717,548.473206 
	C1409.689209,548.689453 1407.878174,547.781616 1407.067871,546.813293 
	C1405.837891,545.343506 1405.215088,543.365723 1404.212280,541.359497 
	C1406.213623,540.567505 1408.093384,539.683655 1410.057617,539.071350 
	C1417.368896,536.792419 1422.411377,531.521729 1419.834229,522.989929 
	C1418.234863,517.694885 1415.783203,512.176147 1412.212524,508.060669 
	C1405.351929,500.153320 1395.990234,503.446960 1393.184082,512.577820 
	C1390.662354,520.783142 1389.691895,529.462769 1387.991821,537.924133 
	C1386.836060,543.675720 1385.808960,549.464172 1384.362549,555.144043 
	C1380.518188,570.240540 1364.836060,576.335388 1350.488281,570.207886 
	C1333.896973,563.122375 1326.242432,549.521973 1322.082886,533.186401 
	C1320.920288,528.620544 1320.406616,523.835144 1320.174316,519.121887 
	C1320.110229,517.819336 1321.879761,515.609802 1323.235840,515.186096 
	C1332.230225,512.375732 1341.341064,509.938019 1350.853149,507.255157 
	C1352.142212,509.281219 1353.609619,511.587738 1355.309448,514.259399 
	C1352.596313,515.618958 1350.167114,516.856567 1347.720581,518.058838 
	C1333.302979,525.143738 1333.787354,535.567322 1339.449219,547.732666 
	C1340.588989,550.181458 1342.819214,552.177124 1344.743408,554.193970 
	C1347.656982,557.247803 1350.929565,559.870972 1355.563232,558.708740 
	C1360.928711,557.362976 1363.911499,553.370728 1364.896606,548.332947 
	C1367.182739,536.641296 1368.720337,524.801392 1371.080933,513.126709 
	C1373.849365,499.434174 1381.129395,491.848328 1394.974854,490.198517 
	C1402.422974,489.311005 1409.434692,492.270721 1415.724609,497.231812 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M254.118805,267.993713 
	C241.091660,265.171844 231.666718,279.518341 230.972702,288.367584 
	C229.798965,303.333679 238.537598,313.109955 248.765823,321.811890 
	C253.309433,325.677490 258.685394,328.733398 264.046265,331.437744 
	C279.436981,339.201721 295.387726,332.873108 302.727570,318.523285 
	C305.599152,312.909180 307.798370,306.951202 310.295319,301.169525 
	C317.689514,303.675507 317.911682,303.703552 316.948914,311.329285 
	C315.825317,320.228882 314.648651,329.266113 309.020355,336.713318 
	C300.606567,347.846252 282.737457,356.144592 267.351471,353.365143 
	C243.649170,349.083313 222.791641,326.778320 219.275299,302.685883 
	C217.156555,288.169189 219.890350,273.991119 230.742325,262.896057 
	C236.429749,257.081177 242.789886,251.911224 248.981232,246.607635 
	C252.202515,243.848282 254.842484,243.942581 257.623322,247.975601 
	C262.910156,255.642944 268.832123,262.872375 274.672913,270.522888 
	C273.210083,272.402527 271.416412,274.707336 269.771698,276.820740 
	C264.512878,273.779480 259.515930,270.889679 254.118805,267.993713 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M1360.133789,393.041229 
	C1355.661743,395.340057 1351.573364,397.595947 1347.951050,399.594727 
	C1356.206177,401.739777 1364.556274,403.547852 1372.656860,406.136597 
	C1378.429810,407.981445 1382.727417,412.151062 1385.807373,417.478394 
	C1387.962280,421.205872 1387.042847,423.330170 1383.019897,425.017639 
	C1374.456787,428.609344 1366.065674,432.610596 1357.074341,436.683990 
	C1355.633789,434.870209 1353.819336,432.585846 1351.504272,429.671112 
	C1353.857544,428.023712 1356.053467,426.467987 1358.268188,424.939545 
	C1363.342407,421.437622 1363.580811,416.005005 1358.049072,413.194489 
	C1352.631104,410.441742 1346.656494,408.325226 1340.691162,407.311005 
	C1337.885132,406.833893 1334.354980,409.291779 1331.451294,410.944031 
	C1319.377686,417.813934 1307.351807,424.773773 1295.444458,431.927185 
	C1289.686401,435.386353 1288.941406,439.394531 1292.497314,444.940796 
	C1294.336060,447.808533 1296.337036,450.572266 1298.786255,454.143555 
	C1294.915039,455.647339 1291.567627,456.947662 1288.038208,458.318695 
	C1279.634155,444.981781 1271.400146,431.914825 1262.974243,418.543457 
	C1266.580200,416.242035 1269.617188,412.687683 1274.315552,417.527313 
	C1277.571045,420.880707 1281.862793,419.806000 1285.553345,417.725128 
	C1293.523193,413.231323 1301.448120,408.649414 1309.269653,403.902924 
	C1317.652222,398.815948 1325.933838,393.558899 1334.172852,388.241608 
	C1336.365845,386.826294 1338.352295,385.033478 1340.237915,383.211487 
	C1343.924561,379.649384 1343.900879,376.645233 1340.986206,372.353912 
	C1340.136963,371.103607 1339.792603,367.866058 1340.208740,367.672455 
	C1342.583984,366.567871 1344.797241,363.194855 1347.980103,366.432648 
	C1354.167358,372.726685 1360.469727,378.907562 1366.677612,385.181610 
	C1369.063354,387.592834 1368.389771,389.516907 1365.467041,390.854187 
	C1363.832397,391.602112 1362.168335,392.285736 1360.133789,393.041229 
z"/>
<path fill="#0A4FD4" opacity="1.000000" stroke="none" 
	d="
M869.692871,126.631378 
	C868.713074,130.843613 867.849670,134.659515 867.183289,138.509521 
	C866.128723,144.602310 870.657471,148.541321 878.959961,149.027740 
	C881.305298,149.165146 883.629883,149.657486 886.561462,150.071381 
	C884.986450,154.252899 883.739929,157.562378 882.566650,160.677307 
	C866.918274,157.984467 851.532349,155.336777 835.746399,152.620239 
	C836.673340,149.668121 837.492249,147.060181 838.303589,144.476151 
	C848.595581,142.825470 850.406433,140.618668 852.962158,126.532349 
	C855.966553,109.973396 858.940063,93.408867 861.936218,76.848427 
	C863.519043,68.099503 860.381226,64.427574 849.876953,63.728165 
	C850.328186,60.904758 850.768494,58.149384 851.215271,55.354000 
	C861.490845,54.639370 871.496094,53.813431 881.518127,53.348724 
	C883.704285,53.247353 885.338379,54.413338 884.276489,57.552120 
	C882.099609,63.986027 880.422424,70.588982 878.563599,77.038940 
	C885.807251,72.253860 892.490784,67.309128 899.677246,63.255878 
	C905.630798,59.897945 912.293335,58.607193 919.118225,61.085190 
	C921.363281,61.900333 922.523865,63.080936 921.641052,65.893509 
	C918.907043,74.603394 916.400269,83.386833 913.941833,92.179893 
	C912.985352,95.600945 910.412415,95.083954 908.006226,94.958321 
	C905.387573,94.821602 903.562927,93.755463 903.996521,90.659210 
	C904.156250,89.518654 904.123657,88.339149 904.388184,87.227242 
	C906.003052,80.438766 902.126709,76.453026 895.498291,78.260094 
	C888.672241,80.121048 882.714844,83.710800 878.473999,89.278900 
	C876.668884,91.649078 876.508118,95.339836 875.818176,98.478401 
	C873.786072,107.722839 871.863159,116.991287 869.692871,126.631378 
z"/>
<path fill="#E6EDE4" opacity="1.000000" stroke="none" 
	d="
M774.648499,818.325806 
	C775.042114,881.749756 775.034424,945.334045 775.038025,1009.376343 
	C774.699890,1008.690674 774.045410,1007.547119 774.044495,1006.403015 
	C773.997192,944.422485 774.004028,882.441895 774.016724,820.461304 
	C774.016846,819.802917 774.167053,819.144470 774.648499,818.325806 
z"/>
<path fill="#E6EDE4" opacity="1.000000" stroke="none" 
	d="
M727.351807,1009.673950 
	C726.958130,946.250122 726.965576,882.665894 726.961548,818.623535 
	C727.299744,819.309143 727.954529,820.452515 727.955383,821.596436 
	C728.002747,883.576965 727.995911,945.557556 727.983215,1007.538147 
	C727.983093,1008.196594 727.833008,1008.854980 727.351807,1009.673950 
z"/>
</svg>
      </div>
      <div class="story-content fade-up">
        <p>The name <strong>Techo</strong> carries a dual meaning that sits at the heart of everything we do. In the ancient Greek tradition, <em>Techne</em> referred not merely to technical skill, but to the mastery of craft — the ability to bring expertise and artistry together to create something that truly works. This is the standard we hold ourselves to in every project, every delivery, every product we manufacture.</p>
        <p>But "Techo" is also a roof. A shelter. A foundation above which everything else can be built with confidence. Techo Traders was founded with the ambition to be exactly that — the stable, trusted infrastructure beneath three growing industries, providing the resources, synergy, and strategic direction for each to reach its full potential.</p>
        <p>We began with a single observation: that the businesses of tomorrow would need to be simultaneously digital, physical, and connected. The companies that would win weren't the specialists — they were the ones who understood how all three worked together. So we built them ourselves.</p>
        <p>Today, Techo Traders is the parent organization of three distinctive subsidiaries, each a leader in its own domain, each strengthened by its siblings.</p>
      </div>
    </div>
  </div>
</section>

<!-- CORE VALUES -->
<section class="section section--off">
  <div class="container">
    <div style="text-align: center; margin-bottom: 3rem;">
      <div class="label" style="justify-content: center;">What We Stand For</div>
      <h2 class="section-heading">Core Values</h2>
    </div>
    <div class="values-grid">
      <div class="value-card fade-up">
        <div class="value-card__number">01</div>
        <h4>SYNERGY</h4>
        <p>We believe the power of our ecosystem comes from how our companies interact — each one amplifying the capabilities of the others.</p>
      </div>
      <div class="value-card fade-up">
        <div class="value-card__number">02</div>
        <h4>INNOVATION</h4>
        <p>From the antennas we manufacture to the campaigns we run, we relentlessly pursue better solutions — never satisfied with the status quo.</p>
      </div>
      <div class="value-card fade-up">
        <div class="value-card__number">03</div>
        <h4>PRECISION</h4>
        <p>In manufacturing, in marketing, in logistics — precision is not optional. We sweat the details so our clients don't have to.</p>
      </div>
      <div class="value-card fade-up">
        <div class="value-card__number">04</div>
        <h4>STABILITY</h4>
        <p>We are the roof. Our partners, clients, and people rely on us to provide a consistent, dependable foundation for growth.</p>
      </div>
      <div class="value-card fade-up">
        <div class="value-card__number">05</div>
        <h4>INTEGRATION</h4>
        <p>Digital, physical, and hardware aren't separate worlds. We've built a company that proves they are strongest when unified.</p>
      </div>
      <div class="value-card fade-up">
        <div class="value-card__number">06</div>
        <h4>INTEGRITY</h4>
        <p>Every relationship we build — with clients, partners, and our own team — is grounded in honesty, transparency, and trust.</p>
      </div>
    </div>
  </div>
</section>

<!-- VISION BAND -->
<section style="background: var(--blue); padding: 5rem 0;">
  <div class="container" style="display: grid; grid-template-columns: 1fr 1fr; gap: 5rem; align-items: center;">
    <div>
      <div class="label" style="color: rgba(255,255,255,0.7);">Our Mission</div>
      <h2 style="font-family: var(--font-display); font-size: clamp(2rem,4vw,3rem); color: white; letter-spacing: 0.02em; line-height: 1.1; margin-bottom: 1.5rem;">TO BRIDGE THE GAP BETWEEN COMPLEX TECHNOLOGY AND EVERYDAY UTILITY</h2>
    </div>
    <div>
      <p style="font-size: 1.05rem; color: rgba(255,255,255,0.75); line-height: 1.8; margin-bottom: 1.5rem;">Our vision is a Sri Lanka where every business — regardless of size or industry — has access to world-class digital tools, reliable logistics infrastructure, and cutting-edge hardware connectivity.</p>
      <a href="/contact" class="btn btn--white">
        Join Our Journey
        <svg viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2"><path d="M3 8h10M9 4l4 4-4 4"/></svg>
      </a>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
